<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean id="numberGenerator" class="academy.learnprogramming.NumberGeneratorImpl"/>

    <bean id="game" class="academy.learnprogramming.GameImpl">
        <!--see below example of constructor based dependency injection-->
        <!--<constructor-arg ref="numberGenerator"/> -->

        <!--see below example of setter based dependency injection-->
        <!--the name below relates to the name of the property of the class-->
        <!--the ref below relates to the id of the bean above-->
        <!--<property name="numberGenerator" ref="numberGenerator"/>-->


        <!--generally, use constructor for mandatory deps and setter for optional deps-->
    </bean>

    <!--below enables the annotations, was replaced by context as per video 31 -->
    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->

</beans>
